html5lib
lxml  # faster than html5lib
bs4
requests
colorama  # colorful output on windows

parse  # for reverse formatting
python-dateutil

PixivPy

pyqt5 # Only required if you wanna use the gui, main_graphical.py
